<div nz-row class="mgbt20">
  <div nz-col nzSpan="12">
    <h3>Danh Sách</h3>
  </div>
  <div nz-col nzSpan="12">
    <div class="float-right">
      <button (click)="handleCorU()" nz-button nzType="primary" [nzSize]="Large"><i nz-icon nzType="plus"
          nzTheme="outline"></i>
        Tạo mới </button>
    </div>

  </div>
</div>
<nz-table nzBordered #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
  [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzCustomFilter nzShowSort nzSortKey="name" width="15%">
        Tên DVD
        <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown>
          <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
            nz-dropdown></i>
          <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search({key:'name',value: searchValue})"
              class="search-button">
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </nz-dropdown>
      </th>
      <th nzCustomFilter nzShowSort nzSortKey="supplier" width="15%">
        Nhà cung cấp
        <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown>
          <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
            nz-dropdown></i>
          <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search({key:'supplier',value: searchValue})"
              class="search-button">
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </nz-dropdown>
      </th>

      <th nzCustomFilter nzShowSort nzSortKey="price" width="15%">
        Giá tiền
        <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown>
          <i nz-icon nzType="search" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown.nzVisible"
            nz-dropdown></i>
          <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search({key:'price',value: searchValue})"
              class="search-button">
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </nz-dropdown>
      </th>

      <th width="15%">
        Danh mục
      </th>

      <th width="15%">
        Số bản ghi
      </th>
      <th width="15%"><span>Action</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.supplier }}</td>
      <td>{{ data.price }}</td>
      <td>{{ data.catalog.name }}</td>
      <td>{{ data.dvdDetails.length }}</td>
      <td class="cttd">
        <div zn-row>
          <button nz-tooltip nzTitle="Sửa dvd" (click)="handleCorU(data)" nz-button nzType="primary"
            style="margin-right: 10px">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
          <button nz-tooltip nzTitle="Xóa dvd" (click)="delete(data)" nz-button nzType="danger"><i nz-icon
              nzType="delete" nzTheme="outline"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
  <div zn-row style="margin-top: 10px">
    <strong *ngIf="total!=0">Tổng số: {{total}}</strong>
  </div>
</nz-table>